C 0 0 "VSS" 0 0 0 0 60 0 L
X "PIN_TEXT" "VSS" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "SEN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "SEN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "SRP" 0 -200 0 0 60 0 L
X "PIN_TEXT" "SRP" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "TS1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "TS1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "SCL" 0 -400 0 0 60 0 L
X "PIN_TEXT" "SCL" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SDA" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SDA" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "DSG" 0 -600 0 0 60 0 L
X "PIN_TEXT" "DSG" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "PACK" 0 -700 0 0 60 0 L
X "PIN_TEXT" "PACK" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 1100 0 "CHG" 1100 0 0 0 60 0 R
X "PIN_TEXT" "CHG" 870 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 900 0 1100 0 -1 0
C 1100 -100 "PBI" 1100 -100 0 0 60 0 R
X "PIN_TEXT" "PBI" 870 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -100 1100 -100 -1 0
C 1100 -200 "VC2" 1100 -200 0 0 60 0 R
X "PIN_TEXT" "VC2" 870 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -200 1100 -200 -1 0
C 1100 -300 "VC1" 1100 -300 0 0 60 0 R
X "PIN_TEXT" "VC1" 870 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -300 1100 -300 -1 0
C 1100 -400 "EP_1" 1100 -400 0 0 60 0 R
X "PIN_TEXT" "EP_1" 870 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -400 1100 -400 -1 0
C 1100 -500 "EP_2" 1100 -500 0 0 60 0 R
X "PIN_TEXT" "EP_2" 870 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -500 1100 -500 -1 0
C 1100 -600 "EP_3" 1100 -600 0 0 60 0 R
X "PIN_TEXT" "EP_3" 870 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 900 -600 1100 -600 -1 0
L 200 100 900 100 -1 0
L 900 -800 900 100 -1 0
L 900 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 950 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

