C 0 0 "VIN" 0 0 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GND" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CPOUT" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CPOUT" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VOUT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VOUT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 600 -800 "EP" 600 -800 0 0 60 0 L
X "PIN_TEXT" "EP" 630 -570 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -600 600 -800 -1 0
C 1200 0 "C1+" 1200 0 0 0 60 0 R
X "PIN_TEXT" "C1+" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 1200 -100 "C1-" 1200 -100 0 0 60 0 R
X "PIN_TEXT" "C1-" 970 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -100 1200 -100 -1 0
C 1200 -200 "EN" 1200 -200 0 0 60 0 R
X "PIN_TEXT" "EN" 970 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -200 1200 -200 -1 0
C 1200 -300 "VFB" 1200 -300 0 0 60 0 R
X "PIN_TEXT" "VFB" 970 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 -300 1200 -300 -1 0
L 200 100 1000 100 -1 0
L 1000 -600 1000 100 -1 0
L 1000 -600 200 -600 -1 0
L 200 100 200 -600 -1 0
P "$LOCATION" "?" 1050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

