C 0 0 "CC1" 0 0 0 0 60 0 L
X "PIN_TEXT" "CC1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CC2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CC2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 500 -1000 "PORT" 500 -1000 0 0 60 0 L
X "PIN_TEXT" "PORT" 530 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -800 500 -1000 -1 0
C 600 -1000 "VBUS_DET" 600 -1000 0 0 60 0 L
X "PIN_TEXT" "VBUS_DET" 630 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -800 600 -1000 -1 0
C 700 -1000 "ADDR" 700 -1000 0 0 60 0 L
X "PIN_TEXT" "ADDR" 730 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -800 700 -1000 -1 0
C 800 -1000 "INT_N/OUT3" 800 -1000 0 0 60 0 L
X "PIN_TEXT" "INT_N/OUT3" 830 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -800 800 -1000 -1 0
C 1300 -100 "SDA/AOUT1" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "SDA/AOUT1" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 0 "SCL/OUT2" 1300 0 0 0 60 0 R
X "PIN_TEXT" "SCL/OUT2" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 800 600 "ID" 800 600 0 0 60 0 R
X "PIN_TEXT" "ID" 830 370 90 0.00 60 0 0 2 0 0 1 0 74
L 800 400 800 600 -1 0
C 700 600 "GND" 700 600 0 0 60 0 R
X "PIN_TEXT" "GND" 730 370 90 0.00 60 0 0 2 0 0 1 0 74
L 700 400 700 600 -1 0
C 600 600 "EN" 600 600 0 0 60 0 R
X "PIN_TEXT" "EN" 630 370 90 0.00 60 0 0 2 0 0 1 0 74
L 600 400 600 600 -1 0
C 500 600 "VDD" 500 600 0 0 60 0 R
X "PIN_TEXT" "VDD" 530 370 90 0.00 60 0 0 2 0 0 1 0 74
L 500 400 500 600 -1 0
L 200 400 1100 400 -1 0
L 1100 -800 1100 400 -1 0
L 1100 -800 200 -800 -1 0
L 200 400 200 -800 -1 0
P "$LOCATION" "?" 1150 570 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

